ansible/certs/bin/cfssl
ansible/certs/bin/cfssljson
ansible/certs/kubernetes-csr.json
ansible/roles/etcd/files/etcd*
ansible/roles/controller/files/kube*
terraform/terraform.tfvars
keys/id_rsa
*.pem
*.csr
playbook.retry
.ropeproject/
