{
	"CN": "kubernetes",
	"hosts": HOSTS,
	"key": {
		"algo": "rsa",
		"size": 2048
	},
	"names": [
		{
			"C": "CA",
			"L": "Toronto",
			"O": "Kubernetes",
			"OU": "Cluster",
			"ST": "Ontario"
		}
	]
}
